<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459112131846-bs59f98o64oh1mbg6b82nq8l7c8d67ht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459112131846-bs59f98o64oh1mbg6b82nq8l7c8d67ht</string>
	<key>API_KEY</key>
	<string>AIzaSyAs3sVAO0mCCrSIMUsVuaNaZJf30T82B-g</string>
	<key>GCM_SENDER_ID</key>
	<string>459112131846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zukimaru.flashChatNew</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-udemy-2</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-udemy-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459112131846:ios:742981aeca41f547fc0287</string>
</dict>
</plist>